 



*begin tormenta2002
*include ../Calib/2002
*include tormenta2002
*end tormenta2002

*equate tormenta2002.U.59 tormenta2003.N.1

*begin tormenta2003
*include ../Calib/2003
*include tormenta2003
*end tormenta2003
