
*begin texa_05_02
*title "Underworld"
*date 2005.07.14
*team Gavin book
*team Hils tape,instruments

; entered 2005-07-17  John & Hils

;Instrument set compass 05-1; clino 05-A
;Tape yellow 50m (using 0 mark)

;from   to     tape    compass   clino
1       0       3.40   223       -68
2       1       3.25   222.5      -6
3       2       3.00   251.5       3
4       3       2.80   228.5     -63.5
4       5       3.74   134        17
5       6       1.78   173        -1
7       6       1.44   299        -4.5
8       7       1.74   229.5      40
9       8       2.40   217.5      -4
10      9       3.96   280       -14
11      10      4.66   193.5     -50.5 ;st 11 is bolt of pitch down to pool
12      11     10.88   134       -66 ; st 12 is bolt
13      12      1.32   050        -4
14      13      6.15   176       -49.5
14      15     16.06   329         0
15      16     13.10   310        68
16      17     11.07   073        79
17      18      2.75   090.5      49.5
18      19      2.03   303        60
19      20      3.95   225        72 ;st 20 bolt (head of pitch inbNeil & Paul's survey)

;LRUD
; 0    1     1.5   1.5   0.4
; 1    0.5   0.7   1     4
; 2    0     0.3   0.8   1.7
; 3    0.3   0.3   2     1.8
; 4    0.3   1.2   2     5
; 5    0.2   0.3   1.2   1.2
; 6    0     0.4   0.3   0.4
; 7    0.5   0.5   0.4   1
; 8    0.3   0.3   0.3   0.8
; 9    0.3   0.3   0.5   0.8
;10    0.3   -     7?    1.8
;11    0     2.5   4     4
;12    -
;13    0     1     8     1.6
;14    3.5   1.2   3     1
;15    2     2     4     1.8
;16    5     3     -     -
;17    0.5   0.5   1.5   -
;18    0.6   0.6   1     0.8
;19    0.3   0.5   1.5   0
;20    0.3   1     0.6   1.2

*end texa_05_02

