
*begin texa_05_03
*title "passage beyond lake"
*date 2005.07.15
*team Gavin book
*team Hils tape,instruments

;Instruments compass 05-1; Clino 05-A

; entered 2005-07-17  John & Hils

; yellow 50m tape, reading from 0 mark

;from	to	tape	compass	  clino
0       1       10.79   256.5     9 ; st 0 backup spike at pitch head
2       1        7.83   017      -4
2       3        7.24   335      50
4       3        7.35   155      -3.5
4       5        9.28   242      50 ; st 5 bolt for main hang at pitch
6       5       19.30   001     -14
6       7        4.49   142.5    16.5
8       7        7.54   023       9.5
8       9        7.90   135       2.5
10      9        7.75   307      44
10      11       6.54   166     -37.5
12      11      13.09   328       7.5
12      13       2.58   167      28.5
14      13       8.43   355.5   -15
14      15       8.58   170.5    48
16      15       5.99   052      -0.5
16      17       4.18   241     -18
18      17      13.75   357     -32
18      19       9.62   142.5    -3
20      19       4.40   000.5    11.5
20      21       8.81   276      -2
22      21       9.66   101     -56.5
22      23       8.18   331.5   -17
24      23      14.51   088.5    24
24      25      16.21   299      -0.5
26      25       4.27   157     -75 ; st 26 bolt (st 11 from prev survey)

;LRUD
; 0    3     1     2     1.5
; 1    4     1     2     1.6
; 2    2     2     5?    1.6
; 3    1     4     1.5   1.6
; 4    2     1     8?    1.6
; 5    4     0     3     1.2
; 6    3     1     2     1.5
; 7    4     1     2.5   1.6
; 8    5     1     2     1.5
; 9    2     2     3     1.6
;10    2     3     5     1.5
;11    1.5   2     3.5   1.6
;12    1     3     8     1.5
;13    1     2     4     1.5
;14    3.5   2.5   5     1
;15    1.5   2.5   3     1.5
;16    2     1     3     1.5
;17    1.5   2     4     1.6
;18    1.5   1     3     1.5
;19    0.5   2     2.5   1.5
;20    1     3.5   2     2
;21    0.6   2     6     1.6
;22    3     2     3.5   1
;23    3     1     3.5   1.6
;24    0.5   3     1.2   1
;25    4     2     ?     1

*end texa_05_03
