;This is not a survey, is only rough data to match the drawing that 	
;Rick Stanton sent me of their discoveries behind the Culiembro upstream sump	
;unfortunately the original survey data was lost when their bagagge was	
;stolen from their car.	

	
*begin Sump1
	
1       2       13      270     -65	
2       3       20      240     10	
3       4       20      240     0	
4       5       10      270     5	
5       5a      12      39      0	
5a      3       19      90      -2	
5       6       6       270     0	
6       7       15      293     10	
7       8       5       335     5	
8       9       8       295     15	
9       10      2.43    0       90	
;10      11      20      272     0	
;11      12      8       0       90	
;12      13      5       220     0	
;13      14      15      220     -15	
;14      15      10      220     -20	
;13      16      14      305     0	
;16      14      19      180     -14	
;16      17      5       345     0	
;17      18      25      275     20	
;18      19      40      303     20	
;19      20      4       0       -90	
;20      21      4       303     45	
;21      22      20      0       -90	
;22      22b     50      303     0	
4       23      25      180     0	
23      24      24      250     3	
24      24a     15      10      -3	
24a     24b     12      53      -3	
24b     5       12      0       0	
24      25      26      250     3	
;25      25a     4.77    0       90	
;25a     25b     35      305     0	
;25b     25c     9       342     0	
;25c     25d     3       0       -90	
;25d     25e     5       342     0	
;25e     15      3       0       90	
25      26      10      205     3	
26      27      26      230     3	
27      28      2.99    0       90	
;28      29      4       230     60	
;29      30      35      257     10	
;30      31      10      262     0	
;31      32      5       205     -45	
;32      33      5       205     45	
;33      34      20      242     5	
;34      35      20      0       -90	
;35      36      60      230     -15	
;36      37      20      310     20	
;29      38      19      178     10	
;38      39      10      127     -5	
;39      40      15      127     -10     	
;40      41      15      180     10	
;41      42      10      180     0	
;42      43      10      235     10	
;43      44      10      270     0	
;44      45      45      235     10	
;45      46      60      230     -5	
*end Sump1
	